# Ignore bin and obj folders
bin/
obj/

# Ignore Visual Studio settings
.vscode/
*.vs/

# Ignore build results
*.dll
*.exe
*.pdb

# Ignore configuration with sensitive info
config.json

# Ignore log files
*.log

# Ignore dotnet environment files
*.cache/
*.db